body {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 1440px;
  background-color: #e1f0da;
  margin: auto;
  padding: 0 4rem;
}

td,
th {
  background-color: #99bc85;
}

.fc-event:hover {
  z-index: 10;
  cursor: pointer;
  background-color: #D4E7C5;
}

dialog {
  max-width: 1200px;
  height: 80vh;
}

.event-info {
  display: flex;
  flex-direction: column;

}

ul {
  padding: 0;
  list-style: none;
}

ul.tags {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#header {
  height: 5rem;
  margin-bottom: 4rem;
  background-color: #99bc85;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

#header ul li a {
  font-size: 1.5rem;
  font-weight: 700;
}

a:hover {
  color: darkslategray;
}