body {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 1440px;
  background-color: #e1f0da;
  margin: auto;
  padding: 4rem;
}

td,
th {
  background-color: #99bc85;
}

.fc-event:hover {
  z-index: 10;
  cursor: pointer;
  background-color: blue;
  border: blue;
}

dialog {
  max-width: 1200px;
  height: 80vh;
}

.event-info {
  display: flex;
  flex-direction: column;

}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}