
    <h2>{{ more_info.name }}</h2>
    <img src="https://rekrutacja.teamwsuws.pl/{{ more_info.image_url }}" alt="plakat wydarzenia {{ more_info.name }}" class="event-poster">
    <p><strong>Miejsce:</strong> {{ more_info.location }}</p>
    <p>
        <strong>Data:</strong> {{ more_info.date }} <br>
        <strong>Godzina:</strong> {{ more_info.time }}
    </p>
    <p>{{ more_info.long_description | safe }}</p>

    <a href="{{ more_info.registration_link }}">Zarejestruj się na wydarzenie - {{ more_info.name }}</a>

    <ul class="tags">
        <p><strong>Tagi: </strong></p>  
    {% for tag in more_info.tags %}
        
        <li>
            <a href="{{ url_for('get_events_by_tag', tag=tag.name) }}">{{ tag.name }}</a>
        </li>
    {% endfor %}
    </ul>

