<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kalendarz wydarzeń akademickich - Uniwersytet w Siedlcach</title>
    <script
      src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"
      defer
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.5/locales-all.global.min.js"
      defer
    ></script>
    <script src='{{ url_for("static", filename="js/script.js") }}' defer></script>

    <link rel="stylesheet" href='{{ url_for("static", filename="css/style.css") }}' />
  </head>

  <body>
    <div id="header">
      <ul>
        <li><a href="{{ url_for('home') }}">Strona główna</a></li>
      </ul>
    </div>